<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="correo_usuario" value="karla.santana@audisel.com" />
    <add key="correo_password" value="Audisel2019" />
    <add key="correo_servidor" value="smtp.gmail.com" />
    <add key="correo_puerto" value="587" />
    <add key="bd_modo" value="LOCAL" />
    <add key="bd_ip_remota" value="187.189.78.43" />
    <add key="bd_ip_local" value="192.168.0.253" />
    <add key="bd_dataBase" value="audisel" />
    <add key="bd_puerto" value="3306" />
    <add key="bd_usuario" value="sgp" />
    <add key="bd_password" value="securesgp" />
    <add key="correo_firma" value="" />
    <add key="diseno_archivos_cache" value="True" />
    <add key="ftp_servidor_local" value="ftp://192.168.0.75" />
    <add key="ftp_servidor_remoto" value="ftp://187.189.78.43" />
    <add key="ftp_puerto" value="21" />
    <add key="configurar_ssl" value="True" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>