
CB/bin/Debug/*
CB/bin/Release/
CB/obj/Debug/CB.csproj.GenerateResource.Cache
CompanyBlocks.v12.suo
CB/obj/Debug/*
!CB/obj/Debug/CompanyBlocks.pdb
!CB/obj/Debug/DesignTimeResolveAssemblyReferences.cache
!CB/bin/Debug/itextsharp.dll
!CB/bin/Debug/itextsharp.xmlworker.dll
!CB/bin/Debug/SolidWorks.Interop.sldworks.dll
!CB/bin/Debug/SolidWorks.Interop.swconst.dll
!CB/bin/Debug/SolidWorks.Interop.swdocumentmgr.dll
!CB/bin/Debug/Magick.NET-Q16-AnyCPU.dll
!CB/obj/Debug/Interop.ImageMagickObject.dll
!CB/bin/Debug/MySql.Data.dll
!CB/bin/Debug/EPPlus.dll
!CB/bin/Debug/EPPlus.xml
!CB/bin/Debug/Google.Apis.Auth.dll
!CB/bin/Debug/Google.Apis.Auth.pdb
!CB/bin/Debug/Google.Apis.Auth.PlatformServices.dll
!CB/bin/Debug/Google.Apis.Auth.xml
!CB/bin/Debug/Google.Apis.Core.dll
!CB/bin/Debug/Google.Apis.Core.xml
!CB/bin/Debug/Google.Apis.Core.pdb
!CB/bin/Debug/Google.Apis.dll
!CB/bin/Debug/Google.Apis.Gmail.v1.dll
!CB/bin/Debug/Google.Apis.Gmail.v1.pdb
!CB/bin/Debug/Google.Apis.Gmail.v1.xml
!CB/bin/Debug/Google.Apis.Oauth2.v2.dll
!CB/bin/Debug/Google.Apis.Oauth2.v2.xml
!CB/bin/Debug/Google.Apis.Oauth2.v2.pdb
!CB/bin/Debug/Google.Apis.PlatformServices.dll
!CB/bin/Debug/Google.Apis.xml
!CB/bin/Debug/Google.Apis.pdb
!CB/bin/Debug/BouncyCastle.Crypto.dll
!CB/bin/Debug/token.json
!CB/bin/Debug/MailKit.dll
!CB/bin/Debug/MailKit.xml
!CB/bin/Debug/MimeKit.dll
!CB/bin/Debug/MimeKit.xml
!CB/bin/Debug/Newtonsoft.Json.dll
!CB/bin/Debug/Newtonsoft.Json.xml
!CB/bin/Debug/Spire.Doc.dll
!CB/bin/Debug/Spire.Doc.xml
!CB/bin/Debug/Spire.License.dll
!CB/bin/Debug/Spire.License.xml
!CB/bin/Debug/Spire.Pdf.dll
!.vs/CompanyBlocks/v16/Server/sqlite3/
!.vs/CompanyBlocks/v16/.suo
*.Cache

CB/obj/Debug/CompanyBlocks\.pdb

.vs/CompanyBlocks/v16/Server/sqlite3/storage.ide

.vs/CompanyBlocks/v16/.suo
!CB/bin/Debug/LiveCharts.dll
!CB/bin/Debug/LiveCharts.Wpf.xml
!CB/bin/Debug/LiveCharts.Wpf.dll
!CB/bin/Debug/LiveCharts.WinForms.xml
!CB/bin/Debug/LiveCharts.WinForms.dll
!CB/bin/Debug/LiveCharts.xml

.vs/CompanyBlocks/v16/Server/sqlite3/storage.ide-wal

.vs/CompanyBlocks/v16/Server/sqlite3/storage.ide-shm
